<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Прохождение теста</title>
  <link rel="stylesheet" href="/static/css/take_test.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>
  <div class="test-container">
    <h2 class="anim">Тестирование</h2>
    <div id="testContent" class="anim">
      <div class="question" id="questionText"></div>
      <div class="answers" id="answersBox"></div>
    </div>
    <div class="result" id="resultBox">Спасибо за прохождение!</div>
  </div>

  <script src="/static/js/take_test.js"></script>
</body>
</html>
